<div id="projects-container">
<h2 align="center">Projects</h2>
  <div class="hs-wrapper">
    <%= image_tag("openpac1.png", alt: "image01") %>
    <%= image_tag("openpac2.png", alt: "image02") %>
    <%= image_tag("openpac3.png", alt: "image03") %>
    <%= image_tag("openpac4.png", alt: "image04") %>
    <%= image_tag("openpac5.png", alt: "image05") %>

    <div class="hs-overlay">
      <span><h4>openPAC</h4>Platform where users can easily find out which legislators support the issues they care about and easily make a donation to that cause. Each legislator's page shows his/her relative positions on issues based on quantitative data. Also, users can generate stances that express an opinion regarding which legislators support a given position. Build in 8 days and with 4 other members.<br>Built with Ruby on Rails, AJAX, jQuery, and Sunlight Foundation’s Congress API. </span>
    </div>
    <div class="hs-footer" align="center">
      <%= link_to "Visit Know Your Values  :", "http://openpac.io/", target: "_blank" %>
      <%= link_to "View Code", "https://github.com/haileyR/openPAC", target: "_blank" %>
    </div>

  </div>

  <div class="hs-wrapper">
    <%= image_tag("kyv1.png", alt: "image01") %>
    <%= image_tag("kyv2.png", alt: "image02") %>
    <%= image_tag("kyv3.png", alt: "image03") %>
    <%= image_tag("kyv4.png", alt: "image04") %>
    <%= image_tag("kyv5.png", alt: "image05") %>

    <div class="hs-overlay">
      <span><h4>Know Your Values</h4>Web application that allows users to ask their friends to endorse their values so that they can develop and pitch them as their strengths.<br> Built with Ruby on Rails, AJAX and jQuery. </span>
    </div>
    <div class="hs-footer" align="center">
      <%= link_to "Visit Know Your Values  :", "https://know-your-values.herokuapp.com", target: "_blank" %>
      <%= link_to "View Code", "https://github.com/haileyR/Know-Your-Values-on-Rails", target: "_blank" %>
    </div>

  </div>

  <div class="hs-wrapper">
    <%= image_tag("memerymath1.png", alt: "image01") %>
    <%= image_tag("memerymath1.png", alt: "image02") %>
    <%= image_tag("memerymath1.png", alt: "image03") %>
    <%= image_tag("memerymath1.png", alt: "image04") %>
    <%= image_tag("memerymath1.png", alt: "image05") %>

    <div class="hs-overlay">
      <span><h4>Memory Math</h4>Math memory game built with JavaScript (jQuery).</span>
    </div>
    <div class="hs-footer" align="center">
      <%= link_to "Play   :", memorymath_path%>
      <%= link_to "View Code", "https://github.com/haileyR/hangyeolryu/tree/master/app/assets/javascripts/memorymath", target: "_blank" %>
    </div>

  </div>

  <div class="hs-wrapper">
    <%= image_tag("overflow1.png", alt: "image01") %>
    <%= image_tag("overflow2.png", alt: "image02") %>
    <%= image_tag("overflow3.png", alt: "image03") %>
    <%= image_tag("overflow4.png", alt: "image04") %>
    <%= image_tag("overflow5.png", alt: "image05") %>

    <div class="hs-overlay">
      <span><h4>Stack Overflow clone</h4>Web application that allows users to post and answer questions, upvote/downvote and comment on questions and answers. Build in 3 days and with 4 other members.<br> Built with Ruby on Rails, AJAX and jQuery. TDD </span>
    </div>
    <div class="hs-footer" align="center">
      <%= link_to "Visit Overflow  :", "https://pdfmh-overflow.herokuapp.com", target: "_blank" %>
      <%= link_to "View Code", "https://github.com/haileyR/pdfmh-dbc-overflow", target: "_blank" %>
    </div>

  </div>
</div>