<div id="projects-container">
<h2 align="center">Projects</h2>
  <div class="hs-wrapper">
    <%= image_tag("openpac1.png", alt: "image01") %>
    <%= image_tag("openpac2.png", alt: "image02") %>
    <%= image_tag("openpac3.png", alt: "image03") %>
    <%= image_tag("openpac4.png", alt: "image04") %>
    <%= image_tag("openpac5.png", alt: "image05") %>

    <div class="hs-overlay">
      <span><h4>openPAC</h4>Platform where users can easily find out which legislators support the issues they care about and easily make a donation to that cause. Each legislator's page shows his/her relative positions on issues based on quantitative data. Also, users can generate stances that express an opinion regarding which legislators support a given position. <br>Built with Ruby on Rails, AJAX, jQuery, and Sunlight Foundation’s Congress API. </span>
    </div>
    <div class="hs-footer" align="center">
      <a href="http://openpac.io/">Visit openPAC  : :</a><a href="https://github.com/haileyR/openPAC">View Code</a>
    </div>

  </div>

  <div class="hs-wrapper">
    <%= image_tag("kyv1.png", alt: "image01") %>
    <%= image_tag("kyv2.png", alt: "image02") %>
    <%= image_tag("kyv3.png", alt: "image03") %>
    <%= image_tag("kyv4.png", alt: "image04") %>
    <%= image_tag("kyv5.png", alt: "image05") %>

    <div class="hs-overlay">
      <span><h4>Know Your Values</h4>Web application that allows users to ask their friends to endorse their values so that they can develop and pitch them as their strengths.<br> Built with Ruby on Rails, AJAX and jQuery. </span>
    </div>
    <div class="hs-footer" align="center">
      <a href="https://know-your-values.herokuapp.com">Visit Know Your Values  : :</a><a href="https://github.com/haileyR/Know-Your-Values-on-Rails">View Code</a>
    </div>

  </div>
</div>