<div id="introduction-container">
  <h2 id="introduction-header">Hello, my name is Hailey.</h2>
  <p id="introduction">
    I am a software developer with Front-end and Back-end experience and a degree in electrical engineering. I am passionate about building products and enjoy the accomplishment. Also, I am innovative and ambitious to learn new technologies in a fast pace environment and have infectious and inspiring work ethic with ability to adapt and collaborate in a team setting.
  </p><br>
  <h2 id="introduction-header">TECHNICAL SKILLS</h2>
  <p id="introduction">
    JavaScript (jQuery, AJAX), Ruby, HTML5, CSS3, Java, C++, SQL (ActiveRecord), JSON, PHP<br>
    Rails, Sinatra, Android, Laravel, Foundation, Matlab<br>
    JUnit, RSpec, Jasmine<br>
    TDD (Test Driven Development), BDD (Behaviour Driven Development), Agile Development, MVC (Model, view, controller), Pair Programming<br>
    PostgreSQL, MySQL, SQLite3<br><br>
  </p>
</div>
<div id="down-arrow" align="center"><%= image_tag("arrow.jpg") %></div>
<div id="projects-container">
<h2 align="center">Projects</h2>
  <div class="hs-wrapper">
    <%= image_tag("openpac1.png", alt: "image01") %>
    <%= image_tag("openpac2.png", alt: "image02") %>
    <%= image_tag("openpac3.png", alt: "image03") %>
    <%= image_tag("openpac4.png", alt: "image04") %>
    <%= image_tag("openpac5.png", alt: "image05") %>

    <div class="hs-overlay">
      <span><h4>openPAC</h4>Platform where users can easily find out which legislators support the issues they care about and easily make a donation to that cause. Each legislator's page shows his/her relative positions on issues based on quantitative data. Also, users can generate stances that express an opinion regarding which legislators support a given position. Build in 8 days and with 4 other members.<br>Built with Ruby on Rails, AJAX, jQuery, and Sunlight Foundation’s Congress API. </span>
    </div>
    <div class="hs-footer" align="center">
      <%= link_to "Visit openPAC", "http://openpac.io/", target: "_blank" %>
      <%= link_to "View Code", "https://github.com/haileyR/openPAC", target: "_blank" %>
    </div>

  </div>

  <div class="hs-wrapper">
    <%= image_tag("kyv1.png", alt: "image01") %>
    <%= image_tag("kyv2.png", alt: "image02") %>
    <%= image_tag("kyv3.png", alt: "image03") %>
    <%= image_tag("kyv4.png", alt: "image04") %>
    <%= image_tag("kyv5.png", alt: "image05") %>

    <div class="hs-overlay">
      <span><h4>Know Your Values</h4>Web application that allows users to ask their friends to endorse their values so that they can develop and pitch them as their strengths.<br> Built with Ruby on Rails, AJAX and jQuery. </span>
    </div>
    <div class="hs-footer" align="center">
      <%= link_to "Visit Know Your Values", "https://know-your-values.herokuapp.com", target: "_blank" %>
      <%= link_to "View Code", "https://github.com/haileyR/Know-Your-Values-on-Rails", target: "_blank" %>
    </div>

  </div>

  <div class="hs-wrapper">
    <%= image_tag("memerymath1.png", alt: "image01") %>
    <%= image_tag("memerymath1.png", alt: "image02") %>
    <%= image_tag("memerymath1.png", alt: "image03") %>
    <%= image_tag("memerymath1.png", alt: "image04") %>
    <%= image_tag("memerymath1.png", alt: "image05") %>

    <div class="hs-overlay">
      <span><h4>Memory Math</h4>Math memory game built with JavaScript (jQuery).</span>
    </div>
    <div class="hs-footer" align="center">
      <%= link_to "Play ", memorymath_path%>
      <%= link_to "View Code", "https://github.com/haileyR/hangyeolryu/tree/master/app/assets/javascripts/memorymath", target: "_blank" %>
    </div>

  </div>

  <div class="hs-wrapper">
    <%= image_tag("overflow1.png", alt: "image01") %>
    <%= image_tag("overflow2.png", alt: "image02") %>
    <%= image_tag("overflow3.png", alt: "image03") %>
    <%= image_tag("overflow4.png", alt: "image04") %>
    <%= image_tag("overflow5.png", alt: "image05") %>

    <div class="hs-overlay">
      <span><h4>Stack Overflow clone</h4>Web application that allows users to post and answer questions, upvote/downvote and comment on questions and answers. Build in 3 days and with 4 other members.<br> Built with Ruby on Rails, AJAX and jQuery. TDD </span>
    </div>
    <div class="hs-footer" align="center">
      <%= link_to "Visit Overflow ", "https://pdfmh-overflow.herokuapp.com", target: "_blank" %>
      <%= link_to "View Code", "https://github.com/haileyR/pdfmh-dbc-overflow", target: "_blank" %>
    </div>

  </div>

  <div class="hs-wrapper">

    <div class="hs-overlay">
      <span><h4>2048 Clone</h4>2048 Clone built with JavaScript.</span>
    </div>
    <div class="hs-footer" align="center">
      <%= link_to "Play ", play2048clone_path%>
      <%= link_to "View Code", "https://github.com/haileyR/hangyeolryu/tree/master/app/assets/javascripts/play2048clone", target: "_blank" %>
    </div>

  </div>
</div>

  <footer align="center">
    <div class="ch-item aboutme" style="background-image: url(<%= asset_path('myphoto.jpg') %>);">
      <div class="ch-info">
        <h3>Thank you for visiting.</h3>
        <p>by Hailey HanGyeol Ryu <!-- <a href="/">About me</a> --></p>
      </div>
    </div>
  </footer>