<div class="hs-wrapper">
  <%= image_tag("openpac1.png") %>
  <%= image_tag("openpac2.png") %>
  <%= image_tag("openpac3.png") %>
  <%= image_tag("openpac4.png") %>
  <%= image_tag("openpac5.png") %>
  <%= image_tag("openpac1.png") %>

  <div class="hs-overlay">
    <span>OpenPAC <strong>JAN 2015</strong></span>
  </div>

</div>