<!DOCTYPE html>
<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Cabin+Condensed' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>
  <title>Hangyeolryu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <h1><%= link_to "Hailey HanGyeol Ryu", root_path %></h1>
    <nav role="navigation">
      <ul>

        <li>
          <div class="ch-item-icon">
          <%= link_to "https://www.linkedin.com/in/haileyryu", target: "_blank" do %>
            <i  style="position: absolute;" class="fa fa-linkedin fa-3x"></i>
          <% end %>
          </div>
        </li>
        <li>
          <div class="ch-item-icon">
          <%= link_to "https://github.com/haileyR", target: "_blank" do %>
            <i  style="position: absolute;" class="fa fa-github fa-3x"></i>
          <% end %>
          </div>
        </li>
        <li>
          <div class="ch-item-icon envelop">
          <%= link_to "https://github.com/haileyR", target: "_blank" do %>
          <%= mail_to "hangyeolryu@gmail.com" do %>
            <i style="position: absolute;" class="fa fa-envelope fa-3x"></i>
          <% end %>

          <% end %>
          </div>
        </li>
      </ul>
    </nav>

    <div class="ch-item aboutme" style="background-image: url(<%= asset_path('myphoto.jpg') %>);">
      <div class="ch-info">
        <h3>Thank you for visiting.</h3>
        <p>by Hailey HanGyeol Ryu <!-- <a href="/">About me</a> --></p>
      </div>
    </div>



  </header>

<%= yield %>

</body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
